{{!-- {{Clase creada para organizar el footer de la pagina

@version 1.00.000 2022-05-17

@author Justin Alejandro Diaz - jusadiazjim@unal.edu.co

@since 1
}} --}}

<footer class="footer">
    <p align="center">Justin Diaz Sofka &copy; 2022</p>
</footer>