{{!-- {{Clase creada para organizar el layout de la pagina integrando el
header y el footer

@version 1.00.000 2022-05-17

@author Justin Alejandro Diaz - jusadiazjim@unal.edu.co

@since 1
}} --}}

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">
      {{>header}}

      {{{body}}}

      {{>footer}}
    </div>

  </body>
</html>
